[Desktop Entry]
Name=Wifi Wizard - Gnome - Wicd
Comment=Wizard for Politecnico Wifi connection
Comment[it]=Wizard per la connessione Wifi del Politecnico
Exec=gksudo wifiwizard-wicd
Icon=polinux-logo
Type=Application
Categories=Network;
StartupNotify=true
